---
import Layout from '../../layouts/Layout.astro';
import { SITE_TITLE } from '../../consts';
import '../../assets/styles/gb-fontsource.css';

// importe as DUAS variações
import BasicTableBasic from '../../components/react/test-tableview';
import BasicTablePaginated from '../../components/react/test-tableview-paginated';

// leia o parâmetro ?view=basic|paginated
const view = (Astro.url.searchParams.get('view') ?? 'paginated').toLowerCase();
const isBasic = view === 'basic';

---
<Layout>
  <div id="container">
    <main>
      <h1 class="noto-cnd">{SITE_TITLE}</h1>
      <div class="call-out noto-reg-italic">
        <blockquote>
          Línguas no ISO639.1
        </blockquote>
      </div>

      <p>
        Visualização:
        <a href="/iso639?view=basic">básica</a> |
        <a href="/iso639?view=paginated">paginada</a>
      </p>

      <h2>Línguas</h2>

      {isBasic ? (
        <BasicTableBasic client:load />
      ) : (
        <BasicTablePaginated client:load />
      )}
    </main>
  </div>
</Layout>

<style>
  main ul {
    padding-left: 0;
    text-decoration: none;
  }

  main ul li {
    list-style: none;
    margin: 10px 0;
    text-align: center;
  }

  .call-out {
    background: rgba(227, 227, 195, 0.1);
    font-size: 1.3rem;
    text-align: center;
    border-left: 8px solid #ccc;
    border-color: #1a73e8;
    margin: 1em auto 1em auto;
    padding: 10px;
    width: 80%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
</style>