---
import Layout from '../../layouts/Layout.astro';
import Blockquote from '../../components/Blockquote.astro';
---

<Layout title="Title desta página">
    <div id="container">
        <main>

            <h1>Astro Stuff</h1>
            <!-- Adicionando classe extra -->
            <Blockquote class="mt-4 shadow-lg">Citação com destaque</Blockquote>

            <!-- Sem slot, usa o text default -->
            <Blockquote/>

            <!-- Com atributos extras -->
            <Blockquote id="quote-hero" data-variant="primary" aria-label="Mensagem importante">
                Conteúdo rico com <strong>HTML</strong>
            </Blockquote>

        </main>
    </div>
</Layout>
<!-- Importante! sem a diretiva client:only pensa que é no servidor -->
<!--<Script client:only />-->

<style>
    main ul {
        padding-left: 0;
        text-decoration: none;
    }

    main ul li {
        list-style: none;
        margin: 10px 0;
        text-align: center;
    }

    :global(.call-out) {
        background: rgba(227, 227, 195, 0.1);
        font-size: 1.3rem;
        text-align: center;
        border-left: 8px solid #ccc;
        border-color: #1a73e8;
        margin: 1em auto 1em auto;
        padding: 10px;
        width: 80%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>