---
import {SITE_TITLE} from '../consts';
---

<div id="container">
	<main>
        <h1>{SITE_TITLE}</h1>
        <div>
        <ul>
            <li><a href="/first-script/">First Script</a></li>
        </ul>
        </div>
	</main>
</div>

<style>

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

</style>
